<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <div class="selecao-idade">
      <app-seletor-passageiro
        titulo="Adultos"
        subtitulo="(Acima de 12 anos)"
      ></app-seletor-passageiro>
      <app-seletor-passageiro
        titulo="Crianças"
        subtitulo="(Entre 2 e 11 anos)"
      ></app-seletor-passageiro>
      <app-seletor-passageiro
        titulo="Bebes"
        subtitulo="(Até 2 anos)"
      ></app-seletor-passageiro>
    </div>
    <div class="selecao-categoria">
      <p><strong>Categoria</strong></p>
      <mat-chip-listbox aria-label="Seleção de passagens">
        <mat-chip-option
          value="Econômica"
          (selectionChange)="
            formbuscaService.alterarTipoCategoria($event, 'Econômica')
          "
          [selected]="
            formbuscaService.obterControle('tipoCategoria').value ===
            'Econômica'
          "
        >
          Econômica
        </mat-chip-option>
        <mat-chip-option
          value="Executiva"
          (selectionChange)="
            formbuscaService.alterarTipoCategoria($event, 'Executiva')
          "
          [selected]="
            formbuscaService.obterControle('tipoCategoria').value ===
            'Executiva'
          "
        >
          Executiva
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
  <div mat-dialog-actions class="modal-actions">
    <button color="primary" mat-flat-button mat-dialog-close>Buscar</button>
  </div>
</section>
